<p class="help">
    Please calculate the results. Press the "20" or "100" button to add more problems for you to solve.
    <button (click)="newRow(20)">20</button>
    <button (click)="newRow(100)">100</button>
</p>

<p class="row" *ngFor="let row of rows">
    <span class="fixed-width">{{row.a}}</span>
    +
    <span class="fixed-width">{{row.b}}</span>
    =
    <input type="text" [value]="row.r" (input)="row.r=$event.target.value">

    <em *ngIf="isCorrect(row)" class="correct">Correct</em>
    <em *ngIf="!isCorrect(row)" class="incorrect">Incorrect</em>
</p>