.help {
    color: white;
    padding-bottom:16px;
}

.help button {
    margin-left: 16px;
}

.row {
    color: white;
    font-size: larger;
}

.correct {
    padding-left: 8px;
    color: lightgreen;
    font-weight: bold;
}

.incorrect {
    padding-left: 8px;
    color: red;
    font-weight: bold;
}