<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="abacus">
        <mat-icon>apps</mat-icon>
        <span>Abacus</span>
    </button>
    <button mat-menu-item routerLink="additions">
        <mat-icon>exposure_plus_1</mat-icon>
        <span>Practise Addition</span>
    </button>
    <button mat-menu-item routerLink="subtractions">
        <mat-icon>exposure_neg_1</mat-icon>
        <span>Practise Subtraction</span>
    </button>
</mat-menu>