.mat-card {
    margin-bottom:16px;
}

.row {
    color: white;
    font-size: x-large;
}

.row input {
    width: 60px;
}

.fixed-width {
    width: 60px;
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: center;
}

.correct {
    padding-left: 8px;
    color: lightgreen;
    font-weight: bold;
}

.incorrect {
    padding-left: 8px;
    color: red;
    font-weight: bold;
}