<mat-card>
    <mat-card-header>
        <mat-card-title>Instructions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Please calculate the results.
        Press the "20" button to add a subtraction problem up to the number 20, or the "100" button to add a
        subtraction
        problem up to 100 for you to solve.
        Press the "Abacus" button to show/hide the abacus.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="newRow(20)">20</button>
        <button mat-raised-button color="primary" (click)="newRow(100)">100</button>
        <mat-slide-toggle (change)="abacus()" color="primary">Abacus</mat-slide-toggle>
    </mat-card-actions>
</mat-card>

<app-abacus *ngIf="isAbacus"></app-abacus>

<p class="row" *ngFor="let row of rows">
    <span class="fixed-width">{{row.a}}</span>
    -
    <span class="fixed-width">{{row.b}}</span>
    =
    <input type="number" [value]="row.r" (input)="row.r=$event.target.value">

    <em *ngIf="isCorrect(row)" class="correct">Correct</em>
    <em *ngIf="isIncorrect(row)" class="incorrect">Incorrect</em>
</p>