.help {
    color: white;
}
.controls {
    padding-bottom:16px;
}

.abacus-row {
    display: flex;
    width: 100%;
}

.abacus-left {
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.abacus-right {
    flex-wrap: wrap;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

.abacus-left img {
    padding-right: 8px;
}

.abacus-right img {
    padding-left: 8px;
}