/* Global Styles */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

app-abacus {
  width: 100%;
}

body {
    background: url('/assets/images/wood.jpg');
}

app-top-menu {
  width: 100%;
  height: 14px;
  background-color: lightgrey;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}