/* Global Styles */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

app-abacus {
  width: 100%;
}

body {
    background: url('/assets/images/wood.jpg');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
