<mat-card>
    <mat-card-header>
        <mat-card-title>Learning numbers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Please choose one of the tools below.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="abacus">An Abacus</button>
        <button mat-raised-button color="primary" routerLink="additions">Practise addition</button>
        <button mat-raised-button color="primary" routerLink="subtractions">Practise subtraction</button>
    </mat-card-actions>
</mat-card>